article,
aside,
figure,
figcaption,
footer,
header,
nav,
section {
  display: block;
}

body {
  position: relative;
  line-height: 1.5;
  color: #333333;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body,
input,
textarea,
select,
button {
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
}

body,
div,
pre,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
th,
td,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

fieldset,
img {
  border: 0;
}

img {
  height: auto;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em {
  font-size: 100%;
  font-weight: normal;
}


* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* english */
.lang-en {
  font-family: eng_def, "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* ----------------------------------------------------------
 base Link
---------------------------------------------------------- */
a {
  color: inherit;
  text-decoration: none;
}

/* ----------------------------------------------------------
 layout
---------------------------------------------------------- */
html {
  overflow-y: auto;
}

body {
  font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  text-align: center;
  min-width: 300px;
}

.sec-inner {
  width: 1170px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}
.header-inner {
  width: 1170px;
  margin: 0 auto;
  text-align: left;
}
.header-logo img {
  width: 250px;
  height: 28px;
  vertical-align: middle;
}
.header-utility {
  display: flex;
}
.header-utility-inner {
  display: flex;
}
.header-hamburger {
  display: none;
}

@media print {
  .header-logo img {
    width: 250px;
    height: 28px;
  }
}
@media screen and (min-width: 768px) {
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-inner::before {
    content: none;
  }
  .header-cover {
    width: 250px;
  }
  .header-logo {
    display: inline-block;
  }
  .header-logo img {
    width: 250px;
    height: 28px;
  }
  .header-utility-in {
    width: 100%;
  }
  .header .btn-language {
    display: table-cell;
  }
  .header .btn-language .cover a {
    display: flex;
    align-items: center;
  }
  .header .btn-language .cover.jp a img {
    margin-top: 0;
  }
  html:lang(ja) .header .btn-language {
    width: 70px;
  }
  html:lang(ja) .header .btn-language-in {
    width: 70px;
  }
  .hero-slider-wrap .header.is-fixed,
  .header.is-fixed {
    position: fixed !important;
    top: 0 !important;
    padding: 0 10px !important;
    border-bottom: 1px solid #e5e5e5 !important;
    background-color: #fff !important;
    z-index: 30 !important;
  }
}

@media screen and (min-width: 768px) {
  .lang-en .header-cover {
    width: 380px;
  }
  .lang-en .header-logo img {
    width: 380px;
    height: auto;
  }
}

.nav-global .lv01 {
  display: flex;
  align-items: center;
  height: 65px;
}
.nav-global .lv01 > li {
  position: relative;
  z-index: 5;
  margin-left: 20px;
}
.nav-global .lv01 > li > a {
  display: flex;
  align-items: center;
  height: 65px;
  position: relative;
  padding-right: 20px;
  font-size: 14px;
}
.nav-global .lv01 > li > a::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 2px;
  width: 11px;
  height: 7px;
  margin-top: -3px;
  background: url(../img/ico_arrow_down_hd_01_pc.png) 0 0 no-repeat;
}

.nav-global .lv01 > li:nth-child(1) {
  margin-left: 0;
  z-index: 10;
}
.nav-global .lv01 > li:nth-child(2) {
  z-index: 9;
}
.nav-global .lv01 > li:nth-child(3) {
  z-index: 8;
}
.nav-global .lv01 > li:nth-child(4) {
  z-index: 7;
}

.nav-global .lv02 {
  display: none;
  position: absolute;
  top: 100%;
  padding: 27px 30px;
  margin-top: -3px;
  border-top: 3px solid #db000a;
  box-shadow: 0 0 0 1px #e5e5e5 inset;
  -moz-box-shadow: 0 0 0 1px #e5e5e5 inset;
  -webkit-box-shadow: 0 0 0 1px #e5e5e5 inset;
  white-space: nowrap;
  background: #fff;
  z-index: 5;
}

.lang-en .nav-global {
  font-size: 14px;
}
.lang-en .nav-global .lv01 {
  margin-left: -27px;
}
.lang-en .nav-global .lv01 > li {
  margin-left: 27px;
  flex-shrink: 0;
}
.lang-en .nav-global .lv01 > li > a {
  display: flex;
}
.lang-en .nav-global .lv01 > li > a::after {
  top: 50%;
}
.lang-en .nav-global .lv01 > li > a.no-icon, .lang-en .nav-global .lv01 > li > a.no-icon:hover:not(.no-hover), .lang-en .nav-global .lv01 > li > a.no-icon.is-active {
  padding-right: 0;
}
.lang-en .nav-global .lv01 > li > a.no-icon:after, .lang-en .nav-global .lv01 > li > a.no-icon:hover:not(.no-hover):after, .lang-en .nav-global .lv01 > li > a.no-icon.is-active:after {
  display: none;
}
.lang-en .nav-global .lv01 > li > a.no-icon:hover:not(.no-hover):after {
  display: none;
}
.lang-en .nav-global .lv01 > li:nth-child(1) a::after {
  top: auto;
  bottom: 17px;
}
.lang-en .nav-global .lv02 {
  display: none;
  position: absolute;
  top: 100%;
  padding: 27px 30px;
  margin-top: -3px;
  border-top: 3px solid #db000a;
  box-shadow: 0 0 0 1px #e5e5e5 inset;
  -moz-box-shadow: 0 0 0 1px #e5e5e5 inset;
  -webkit-box-shadow: 0 0 0 1px #e5e5e5 inset;
  white-space: nowrap;
  background: #fff;
  z-index: 5;
}

---------------------------------------------------------- */
.footer {
  width: 100%;
  margin-top: 60px;
  text-align: left;
}
.footer-main {
  padding: 44px 15px;
  border-top: 1px solid #e5e5e5;
}
.footer-main-inner {
  width: 1170px;
  margin: 0 auto;
}
.footer-main-links .lv01 {
  overflow: hidden;
}
.footer-main-links .lv01 > li {
  width: 300px;
  float: left;
}
.footer-main-links .lv01 > li > a {
  font-size: 14px;
  font-weight: bold;
}
.footer-main-links .lv01 > li > a:hover {
  opacity: 0.7;
}
.footer-main-links .lv01 > li > a.no-lv {
  position: relative;
  padding-right: 25px;
}
.footer-main-links .lv01 > li > a.no-lv:hover, .footer-main-links .lv01 > li > a.no-lv.is-active {
  padding-right: 25px;
}
.footer-main-links .lv01 > li > a.no-lv:after, .footer-main-links .lv01 > li > a.no-lv:hover:after, .footer-main-links .lv01 > li > a.no-lv.is-active:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background: url(../img/ico_blank_01_%402x.png) 0 0 no-repeat;
  background-size: 16px 16px;
}
.footer-main-links .lv01 > li > a.no-icon:after {
  display: none;
}
.footer-main-links .lv01 > li.last {
  width: 270px;
}
.footer-main-links .lv02 {
  margin-top: 20px;
}
.footer-main-links .lv02 > li > a {
  display: block;
  font-size: 14px;
}
.footer-main-links .lv02 > li > a:hover {
  opacity: 0.6;
}
.footer-main-links .lv02 > li + li {
  margin-top: 12px;
}
.footer-sub {
  padding: 0 15px;
  background-color: #f6f6f6;
}
.footer-sub-inner {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
.footer-sub-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.footer-sub-company-name {
  flex-basis: 160px;
  line-height: 1;
  padding: 31px 0;
  font-size: 14px;
  font-weight: bold;
}
.footer-sub-copyright {
  flex-basis: auto;
  flex-grow: 1;
  padding: 28px 0;
  margin-left: 30px;
  font-size: 12px;
  float: left;
}

.lang-en .footer-sub-company-name {
  flex-basis: 310px;
}

/* btn-cmn-pagetop
---------------------------------------------------------- */
.btn-cmn-pagetop {
  position: fixed;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 40px;
  text-align: right;
}
.btn-cmn-pagetop .inner {
  display: block;
  margin: 0 auto;
}
.btn-cmn-pagetop a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #333333;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.btn-cmn-pagetop a:hover {
  opacity: 0.7;
}
.btn-cmn-pagetop a::after {
  content: "";
  position: absolute;
  left: calc(50% - 5px);
  top: calc(50% - 3px);
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(-45deg);
}
.btn-cmn-pagetop.-fixed {
  position: absolute;
  right: 0;
}

@media screen and (min-width: 768px) {
  .s-mt-00-pc {
    margin-top: 0 !important;
  }
  .s-mt-05-pc {
    margin-top: 5px !important;
  }
  .s-mt-10-pc {
    margin-top: 10px !important;
  }
  .s-mt-15-pc {
    margin-top: 15px !important;
  }
  .s-mt-20-pc {
    margin-top: 20px !important;
  }
  .s-mt-25-pc {
    margin-top: 25px !important;
  }
  .s-mt-30-pc {
    margin-top: 30px !important;
  }
  .s-mt-40-pc {
    margin-top: 40px !important;
  }
  .s-mt-50-pc {
    margin-top: 50px !important;
  }
  .s-mt-60-pc {
    margin-top: 60px !important;
  }
  .s-mt-70-pc {
    margin-top: 70px !important;
  }
  .s-mt-80-pc {
    margin-top: 80px !important;
  }
  .s-mt-90-pc {
    margin-top: 90px !important;
  }
  .s-mt-100-pc {
    margin-top: 100px !important;
  }
  .s-mb-00-pc {
    margin-bottom: 0 !important;
  }
  .s-mb-05-pc {
    margin-bottom: 5px !important;
  }
  .s-mb-10-pc {
    margin-bottom: 10px !important;
  }
  .s-mb-15-pc {
    margin-bottom: 15px !important;
  }
  .s-mb-20-pc {
    margin-bottom: 20px !important;
  }
  .s-mb-25-pc {
    margin-bottom: 25px !important;
  }
  .s-mb-30-pc {
    margin-bottom: 30px !important;
  }
  .s-mb-35-pc {
    margin-bottom: 35px !important;
  }
  .s-mb-40-pc {
    margin-bottom: 40px !important;
  }
  .s-mb-45-pc {
    margin-bottom: 45px !important;
  }
  .s-mb-50-pc {
    margin-bottom: 50px !important;
  }
  .s-mb-55-pc {
    margin-bottom: 55px !important;
  }
  .s-mb-60-pc {
    margin-bottom: 60px !important;
  }
  .s-mb-65-pc {
    margin-bottom: 65px !important;
  }
  .s-mb-70-pc {
    margin-bottom: 70px !important;
  }
  .s-mb-75-pc {
    margin-bottom: 75px !important;
  }
  .s-mb-80-pc {
    margin-bottom: 80px !important;
  }
  .s-mb-85-pc {
    margin-bottom: 85px !important;
  }
  .s-mb-90-pc {
    margin-bottom: 90px !important;
  }
  .s-mb-95-pc {
    margin-bottom: 95px !important;
  }
  .s-mb-100-pc {
    margin-bottom: 100px !important;
  }
  .s-mb-110-pc {
    margin-bottom: 110px !important;
  }
  .s-mb-120-pc {
    margin-bottom: 120px !important;
  }
  .s-mb-130-pc {
    margin-bottom: 130px !important;
  }
  .s-mb-140-pc {
    margin-bottom: 140px !important;
  }
  .s-mb-150-pc {
    margin-bottom: 150px !important;
  }
  .s-mb-160-pc {
    margin-bottom: 160px !important;
  }
  .s-mb-170-pc {
    margin-bottom: 170px !important;
  }
  .s-mb-180-pc {
    margin-bottom: 180px !important;
  }
  .s-mb-190-pc {
    margin-bottom: 190px !important;
  }
  .s-mb-200-pc {
    margin-bottom: 200px !important;
  }
  .s-mb-210-pc {
    margin-bottom: 210px !important;
  }
  .s-mb-220-pc {
    margin-bottom: 220px !important;
  }
  .s-mb-230-pc {
    margin-bottom: 230px !important;
  }
  .s-mb-240-pc {
    margin-bottom: 240px !important;
  }
  .s-mb-250-pc {
    margin-bottom: 250px !important;
  }
  .s-mb-260-pc {
    margin-bottom: 260px !important;
  }
  .s-mb-270-pc {
    margin-bottom: 270px !important;
  }
  .s-mb-280-pc {
    margin-bottom: 280px !important;
  }
  .s-mb-290-pc {
    margin-bottom: 290px !important;
  }
  .s-mb-300-pc {
    margin-bottom: 300px !important;
  }
  .s-ml-00-pc {
    margin-left: 0 !important;
  }
  .s-ml-05-pc {
    margin-left: 5px !important;
  }
  .s-ml-10-pc {
    margin-left: 10px !important;
  }
  .s-ml-15-pc {
    margin-left: 15px !important;
  }
  .s-ml-20-pc {
    margin-left: 20px !important;
  }
  .s-ml-25-pc {
    margin-left: 25px !important;
  }
  .s-ml-30-pc {
    margin-left: 30px !important;
  }
  .s-ml-40-pc {
    margin-left: 40px !important;
  }
  .s-ml-50-pc {
    margin-left: 50px !important;
  }
  .s-ml-60-pc {
    margin-left: 60px !important;
  }
  .s-ml-70-pc {
    margin-left: 70px !important;
  }
  .s-ml-80-pc {
    margin-left: 80px !important;
  }
  .s-ml-90-pc {
    margin-left: 90px !important;
  }
  .s-ml-100-pc {
    margin-left: 100px !important;
  }
  .s-mr-00-pc {
    margin-right: 0 !important;
  }
  .s-mr-05-pc {
    margin-right: 5px !important;
  }
  .s-mr-10-pc {
    margin-right: 10px !important;
  }
  .s-mr-15-pc {
    margin-right: 15px !important;
  }
  .s-mr-20-pc {
    margin-right: 20px !important;
  }
  .s-mr-25-pc {
    margin-right: 25px !important;
  }
  .s-mr-30-pc {
    margin-right: 30px !important;
  }
  .s-mr-40-pc {
    margin-right: 40px !important;
  }
  .s-mr-50-pc {
    margin-right: 50px !important;
  }
  .s-mr-60-pc {
    margin-right: 60px !important;
  }
  .s-mr-70-pc {
    margin-right: 70px !important;
  }
  .s-mr-80-pc {
    margin-right: 80px !important;
  }
  .s-mr-90-pc {
    margin-right: 90px !important;
  }
  .s-mr-100-pc {
    margin-right: 100px !important;
  }
}