/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider .slick-next,
  .slick-slider .slick-prev {
    display: block;
    position: absolute;
    top: 50%;
    width: 54px;
    height: 200px;
    margin-top: -63px;
    outline: none;
    font-size: 0;
    line-height: 0;
    background-color: rgba(50, 50, 50, 0.4);
    transition: .4s opacity;
    z-index: 10; }
    .slick-slider .slick-next:after,
    .slick-slider .slick-prev:after {
      content: "";
      position: absolute;
      top: 50%; }
    .slick-slider .slick-next:hover,
    .slick-slider .slick-prev:hover {
      opacity: .7; }
    @media screen and (max-width: 767px) {
      .slick-slider .slick-next,
      .slick-slider .slick-prev {
        display: none !important; } }
  .slick-slider .slick-next {
    right: 30px; }
    .slick-slider .slick-next:after {
      right: 50%;
      width: 16px;
      height: 29px;
      margin-top: -15px;
      margin-right: -8px;
      background: url(../img/ico_arrow_slider_next_01.png) 0 0 no-repeat;
      background-size: 16px 29px; }
  .slick-slider .slick-prev {
    left: 30px; }
    .slick-slider .slick-prev:after {
      left: 50%;
      width: 16px;
      height: 29px;
      margin-top: -15px;
      margin-left: -8px;
      background: url(../img/ico_arrow_slider_prev_01.png) 0 0 no-repeat;
      background-size: 16px 29px; }
  .slick-slider .slick-dots {
    width: 100%;
    padding: 22px 0;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    letter-spacing: 0;
    font-size: 0;
    line-height: 0;
    text-align: center; }
    .slick-slider .slick-dots > li {
      display: inline-block;
      margin: 0 10px; }
      .slick-slider .slick-dots > li button {
        position: relative;
        width: 10px;
        height: 10px;
        outline: none; }
        .slick-slider .slick-dots > li button:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: #fff; }
      .slick-slider .slick-dots > li:hover button:after, .slick-slider .slick-dots > li.slick-active button:after {
        background-color: #dc000a; }
    @media screen and (max-width: 767px) {
      .slick-slider .slick-dots {
        padding: 15px 0; }
        .slick-slider .slick-dots > li {
          margin: 0 7px; }
          .slick-slider .slick-dots > li:hover button:after {
            background-color: #fff; }
          .slick-slider .slick-dots > li.slick-active button:after {
            background-color: #dc000a; } }

.slick-slider.js-slick-02 {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider.js-slick-02 .slick-next,
  .slick-slider.js-slick-02 .slick-prev {
    display: block;
    position: absolute;
    top: 50%;
    width: 54px;
    height: 200px;
    margin-top: -63px;
    outline: none;
    font-size: 0;
    line-height: 0;
    background-color: rgba(50, 50, 50, 0.4);
    transition: .4s opacity;
    z-index: 10; }
    .slick-slider.js-slick-02 .slick-next:after,
    .slick-slider.js-slick-02 .slick-prev:after {
      content: "";
      position: absolute;
      top: 50%; }
    .slick-slider.js-slick-02 .slick-next:hover,
    .slick-slider.js-slick-02 .slick-prev:hover {
      opacity: .7; }
    @media screen and (max-width: 767px) {
      .slick-slider.js-slick-02 .slick-next,
      .slick-slider.js-slick-02 .slick-prev {
        display: block !important;
        position: absolute;
        top: 50%;
        width: 27px;
        height: 100px;
        margin-top: -100px;
        outline: none;
        font-size: 0;
        line-height: 0;
        background-color: rgba(50, 50, 50, 0.4);
        transition: .4s opacity;
        z-index: 10; } }
  .slick-slider.js-slick-02 .slick-next {
    right: 30px; }
    .slick-slider.js-slick-02 .slick-next:after {
      right: 50%;
      width: 16px;
      height: 29px;
      margin-top: -15px;
      margin-right: -8px;
      background: url(../img/ico_arrow_slider_next_01.png) 0 0 no-repeat;
      background-size: 16px 29px; }
    @media screen and (max-width: 767px) {
      .slick-slider.js-slick-02 .slick-next {
        right: 5px; }
        .slick-slider.js-slick-02 .slick-next:after {
          right: 50%;
          width: 8px;
          height: 15px;
          margin-top: -8px;
          margin-right: -4px;
          background-size: 8px 15px; } }
  .slick-slider.js-slick-02 .slick-prev {
    left: 30px; }
    .slick-slider.js-slick-02 .slick-prev:after {
      left: 50%;
      width: 16px;
      height: 29px;
      margin-top: -15px;
      margin-left: -8px;
      background: url(../img/ico_arrow_slider_prev_01.png) 0 0 no-repeat;
      background-size: 16px 29px; }
    @media screen and (max-width: 767px) {
      .slick-slider.js-slick-02 .slick-prev {
        left: 5px; }
        .slick-slider.js-slick-02 .slick-prev:after {
          left: 50%;
          width: 8px;
          height: 15px;
          margin-top: -8px;
          margin-left: -4px;
          background-size: 8px 15px; } }
  .slick-slider.js-slick-02 .slick-dots {
    width: 100%;
    padding: 22px 0;
    position: static;
    bottom: 0;
    z-index: 10;
    background-color: transparent;
    letter-spacing: 0;
    font-size: 0;
    line-height: 0;
    text-align: center; }
    .slick-slider.js-slick-02 .slick-dots > li {
      display: inline-block;
      margin: 0 10px; }
      .slick-slider.js-slick-02 .slick-dots > li button {
        position: relative;
        width: 10px;
        height: 10px;
        outline: none; }
        .slick-slider.js-slick-02 .slick-dots > li button:after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 10px;
          background-color: #e5e5e5; }
      .slick-slider.js-slick-02 .slick-dots > li:hover button:after, .slick-slider.js-slick-02 .slick-dots > li.slick-active button:after {
        background-color: #dc000a; }
    @media screen and (max-width: 767px) {
      .slick-slider.js-slick-02 .slick-dots {
        padding: 15px 0; }
        .slick-slider.js-slick-02 .slick-dots > li {
          margin: 0 7px; }
          .slick-slider.js-slick-02 .slick-dots > li:hover button:after {
            background-color: #fff; }
          .slick-slider.js-slick-02 .slick-dots > li.slick-active button:after {
            background-color: #dc000a; } }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
